//default
html {
   height: 100%;
}

body {
   //font-family: $default;
   font-family: $default;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   -webkit-font-smoothing: subpixel-antialiased !important;
   box-sizing: border-box;
   overflow-x: hidden;
   margin: 0 auto;
   position: relative;
   height: 100%;
   max-width: 100%;
   background: white;
   display: flex;
   flex-direction: column;
   align-items: center;

   // special for Anders
   h1{
      font-family: $roboto;

      &:nth-child(2){
         font-family: $poppins;
         font-weight: 400;
      }
      &:nth-child(2){
         font-weight: $default;
      }

   }

   &.blocked {
      overflow: hidden;
      height: 100%;
   }

   // flex child width
   & > * {
      width: 100%;
      box-sizing: border-box;
   }

}
